.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #233d4d;
}

.loader {
  width: 100px;
  height: 100px;
  color: #f74d29
  animation: spin 2s ease-in infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-message {
  font-size: 1.3rem;
  font-weight: 600;
  color: #f74d29;
  font-family: "Ubuntu", sans-serif;
}
